table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }
  th{
    background-color: black;
    color: white;
  }
  td{
    background-color: #AAC0D2;
    font-weight: bolder;
    color: black;
  }