.rich-text{
    margin-top: 50px;
}
.main-div{
    background-color: cadetblue;
}
.main-cls{
    display: flex;
    justify-content: space-evenly;
    background-color: #6D5959;
    color: white;
}
.desctxt{
    background-color: antiquewhite;
    color: black;
    font-family:'Times New Roman';
}